.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.drawing {
  height: 200px;
  background-color:  transparent;
  transition: 0.8s;
}
.drawing:hover {
  transform: scale(1.5);
  height: 250px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .drawing:nth-child(1){
    animation: App-logo-spin infinite 10s linear;
  }
  .drawing:nth-child(2){
    animation: App-logo-spin infinite 10s reverse;
  }
  .drawing:nth-child(3){
    animation: App-logo-spin infinite 20s alternate-reverse;
  }
  .drawing{
    animation: App-logo-spin infinite 20s alternate-reverse;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
