#stack-app {
    margin:0 auto auto auto;
}

.activated {
    border: 1px solid red;
}
.demo-container {
    display: flex;
    justify-content: space-between;
}

.stack-container {
    position: relative;
    overflow: hidden;
    width: 100px;
    font-size: 12px;
    height: 300px
}

.queue-container {
    position: relative;
    overflow: hidden;
    width: 100px;
    font-size: 12px;
    height: 300px
}

.stack-item {
    box-sizing: border-box;
    position:absolute;
    width: 92px;
    height: 35px;
    background-color: gray;
    border-radius: 3px;
    margin: 3px;
    padding: 1px;
    overflow:auto;
    transition: 0.3s;
}

.added-item {
    background: green;
}

.drop-in {
    animation: dropIn 1s 0s cubic-bezier(.32,.96,.47,.95) forwards;
}

@keyframes dropIn{
    from {
        transform: translate(-30px, -100px)
    }
    to {
        transform: translate((0px, 0px))
    }
}
