#stack-app {
    margin:0 auto auto auto;
}

.activated {
    border: 1px solid red;
}
.demo-container {
    display: flex;
    justify-content: space-between;
}

.stack-container {
    position: relative;
    overflow: hidden;
    width: 100px;
    font-size: 12px;
    height: 300px
}

.queue-container {
    position: relative;
    overflow: hidden;
    width: 100px;
    font-size: 12px;
    height: 300px
}

.stack-item {
    box-sizing: border-box;
    position:absolute;
    width: 92px;
    height: 35px;
    background-color: gray;
    border-radius: 3px;
    margin: 3px;
    padding: 1px;
    overflow:auto;
    transition: 0.3s;
}

.added-item {
    background: green;
}


/* animation n stuff */

.drop-in {
    animation: dropIn 1s 0s cubic-bezier(.32,.96,.47,.95) forwards;
}

@keyframes dropIn{
    from {
        transform: translate(-30px, -100px)
    }
    to {
        transform: translate((0px, 0px))
    }
}

.drop-out{
    animation: dropOut 1s 0s cubic-bezier(.32,.96,.47,.95) forwards;
}

@keyframes dropOut{
    from {
        transform: translate(0px, 0px);
        opacity: 1;
    }
    to {
        transform: translate(0px, 100px);
        opacity: 0;
    }
}

.fly-out {
    animation: flyOut 1s 0s cubic-bezier(.32,.96,.47,.95) forwards;
}

@keyframes flyOut {
    from {
        transform: translate(0px,0px);
        opacity:1;
    }
    to {
        transform: translate(30px, -100px);
        opacity: 0;
    }
}
.move-down {
    animation: moveDown 1s 0s cubic-bezier(.32,.96,.47,.95) forwards;
}

@keyframes moveDown {
    from {
        transform: translate(0px,0px);
    }
    to {
        transform: translate(0px, 35px);
    }
}