/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: roboto;
}
body {
    background: radial-gradient(ellipse at bottom, #c5e4fd 0%, transparent);
    min-height: 100vh;
}*/
#acc-app {
    margin: 25px auto 25px auto;
    width: 60vw;
    min-height: 500px;
    padding: 25px;
} 

/* Card Css */
.accCard {
    margin: 20px;
    height: 350px;
    background: linear-gradient(to bottom, rgb(0, 45, 243) 60%, rgb(240, 240, 211) 30%);
    border-radius: 5px;
    box-shadow: 1px 5px 10px 1px rgba(128, 128, 128, 0.432);
    flex-wrap:wrap; 
    text-align: center;
    position: relative;
}

.accHeader {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 200;
    padding: 10px;  
    height: fit-content;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.acc-inputbox:focus {
    outline: none;
    width: 180px;
}
.acc-inputbox {
    width: 150px;
    height: 20px;
    padding: 10px;
    margin: 20px auto;
    border:none;
    transition: 0.4s;
    border-bottom: 1px solid white;
    background-color: rgb(0, 45, 243);
    color: white;
    font-size: 18px;
    display: block;
    text-align: center;
}
.accbutton {
    border: none;
    display:inline-block;
    height: 50px;
    min-width: 50px;
    padding: 0px 10px;
    width: fit-content;
    border-radius: 50px;
    margin: 0px 10px;
    transition: 0.3s;
    box-shadow: 1px 1px 5px 1px rgba(187, 187, 187, 0.5); 
}
.accbutton:hover {
  transform:scale(1.05); 
  font-size: 1.02rem;
}
.accbutton:active {
    transform:scale(0.95); 
    font-size: 0.98rem;
}
.accbutton:focus {
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.247);
}
.deposit { 
    background-color: #52b202; 
    color: white;
    border: 2px solid #387c018e;
}
.withdraw    { 
    background-color: #52b202; 
    color: white;
    border: 2px solid #387c01a6;
}
.show {
    border: 2px solid rgba(128, 128, 128, 0.37);  
}

.acc-result {
    color: rgb(76, 0, 255);
    position:absolute;  
    top: 70%;
    left: 0;
    right: 0;
    font-family: "roboto";
    font-size: 20px;
}

/* Controller CSS */
#acc-control-container {
    position: fixed;
    top: 3%;
    width: calc(60vw - 50px);
    left: 0;
    right: 0;
    margin: auto;
    padding: 5px 20px;
    display: flex;
    justify-content: flex-start;
    z-index: 3;
    border-bottom: 1px solid white;
}
@media screen and (max-width: 600px) {
    #root {
        width: 100vw;
      }
    #acc-app {
          width: 95vw;
          padding: 0;
      }
    #acc-control-container {
      width: calc(100vw - 50px);
    }
}

#getTotal {
    margin-left: auto;
}

/* Prompt window Css */
.hide {
    display: none;
}
.name-prompt{
    box-shadow: 1px 1px 5px 1px silver;
    padding: 20px;
    background-color: white;
    position: fixed;
    z-index: 2;
    top: 10vmin;
    left: 0;
    right: 0;
    min-height: 200px;
    max-width: 600px;
    margin: 10% auto;
}
.prompt-header{
    color: rgb(76, 0, 255);
    width: fit-content;
    margin: auto;
    font-size: 1.75rem;
    padding: 5px 0px;
}
#name-prompt-action{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid gray;
}
.promptinput {
    width: 180px;
    height: 20px;
    padding: 10px;
    margin: 20px auto;
    border:none;
    transition: 0.4s;
    border-bottom: 1px solid black;
    font-size: 16px;
    text-align: center;
}
.promptinput:focus {
    outline: none;
    width: 220px;
}

#info-panel {
    border-top: 1px solid black;
    text-align: center;
    padding-top: 25px;
    font-size: 1.4rem;
    color: Blue
}

.acc-delete {
    font-size: 18px;
    color: white;
    background-color: red;
    position: absolute;
    bottom: 2px;
    right: 0;
}