.parent {
    display: flex;
    height: 100vh;
    /* border: solid; */
    /* Or whatever */
}

.child {
    /* width: 100px; */
    /* Or whatever */
    /* height: 100px; */
    /* Or whatever */
    margin: auto;
    /* Magic! */
    /* border: solid; */
}

.msgExercise {
    width: 60%;
    /* Or whatever */
    /* height: 100px; */
    /* Or whatever */
    margin: auto;
    /* Magic! */
    border: solid;
    font-size: 50px;
    font-weight: 90;
    font-family: "Pacifico";
    color: steelblue;
}