.navIcon {
    position: fixed;
    top: 1;
    left: 0;
    font-size: 30px;
    cursor: pointer;
}

.navMenu {
    cursor: pointer;
    position: fixed;
    width: 175px;
    top: 10;
    left: 10;
    margin: 10;
    padding: .5em 0;
    background-color: transparent;
    font-weight: 700;
    color: rgba(0, 0, 0, .75);
    border: none;
    background: rgba(0, 0, 0, .00);
    border-radius: 0;
    /* font-size: .85714286em; */
    font-size: 1.3em;
    display: block;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15);
}

.navMenu p {
    margin: 20;
}

.navMenu p:hover {
    color: rgba(0, 0, 0, .55);
    font-size: 1.1em;
}