    ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
  }

  .game-name {
    font-size: 32px;
    margin-top: -25vmin;
    transition: 0.4s;
    color: #61dafb;
  }

  .game-menu {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
    width: 300px;
    height: 200px;
  }

  .game-menu-button {
    display: inline-block;
    background: transparent;
    width: 180px;
    height: 35px;
    color: white;
    border:none;
    text-align: left;
    font-size: 25px;
  }

  .selected {
    color: rgb(59, 255, 59);
  }
  .check {
    position:absolute;
    left:30px;
    top: 50px;
    transition: 0.4s;
  }
  
  .game-info {
    margin-left: 20px;
  }
  