body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

button:focus  {
  outline:none;
}
#root {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; 
}

.App-header{
  margin-bottom: 15vmin;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}
.nav-logo {
  height: 14vmin;
  display:inline-block;
  margin: 0 1vmin;
  border-radius: 7px;
  transition: 0.4s;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bottom-nav {
  position: fixed;
  bottom : 30px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.active {
  background-color:#a7ffeb;
  box-shadow: 1px 1px 5px 1px #64ffda;
}

.theme-control{
  position: absolute;
  top:0;
  right:0;
  width: 50px;
  height:50px;
  border-radius: 28px;
}